<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE PESSOAS</title>
    <link rel ="stylesheet"  href="/css/style.css"></link><!--tag para importar as coisas do css-->
    <style>
        table, th, td{border:1px solid black;}
    </style>
    <%- include("../partials/cabecalho.ejs") %> 
</head>
<body >
    <div class="container">
        <h3 >Lista de pessoas</h3>
        <table class="table table-hover" tyle="width:100%, text-align: center;", >
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Codigo</th>
            <th scope="col">Idade</th>
            <th scope="col">Email</th>
            <th scope="col">Detalhes</th>
            <th scope ="col">Remover</th>
            <th scope="col">Atualizar</th>
        </tr>
        <div> 
        
            <%for(let quebra= 0; quebra < pessoas.length; quebra++){
                const pessoa= pessoas[quebra];%>
                <tr>
                <div>

                <td><%=pessoa.nome%></td>
                </div>
                <div>
                    <td><%=pessoa.codigo%></td>
                </div>
                <div>
                    <td><%=pessoa.idade%></td>
                </div>
                <div>
                    <td><%=pessoa.email%></td>
                </div>

                <div>
                    <td><a href="/pessoas/<%=pessoa.codigo%>"><button type="submit" class="btn btn-primary">Detalhes</button></a></td>
                </div>

                <div>
                    
                    <td><a href="/pessoas/remover/<%=pessoa.codigo%>" onclick =" return confirm('Deseja realmente remover?')"> <button type="submit" class="btn btn-danger">Remover</button></a></td>
                </div>
                <div>
                    <td><a href="/pessoas/atualizar/<%=pessoa.codigo%>" onclick = "return confirm('Deseja atualizar o usuario <%=pessoa.nome%> ?')"><button type="submit" class="btn btn-warning">Atualizar</button></a></td>
                </div>
            </tr>
            
        <%}%>
        </div>
        </table>

        <div>
            <a href="/"> <button type="submit" class="btn btn-dark">Voltar</button></a>
            
        </div>
    </div>
    

</body>
<footer><%- include("../partials/rodape.ejs") %></footer><!--Rodape da pagina essa tag-->
</html>